################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/TestProject/bin/Debug/net8.0
/TestProject/obj
